<div align="center" class="help_page"  >
	
<ul class="guide">
	<li> Go to the URL <a href="https://developers.facebook.com/tools/explorer">https://developers.facebook.com/tools/explorer</a>. It asks to log in with Facebook.</li>
	<li>Now Click on the Get Access Token</li>
	<li><img src="<?php echo HTTP_ROOT.'images/step2.png'?>"></li>
	<li>Now manage the permissioin and select the checkbox "manage_page"<br><img src="<?php echo HTTP_ROOT.'images/step3.png'?>"></li>
	<li> see below bold number is page id and green highlighted is Access token
		<div style="width:80%; word-wrap: break-word;">
			<strong>1545099725762514</strong>/ratings?access_token=<span style="color:green">CAALmnJnrmTUBADukZCIhGH7adI1Jmcd3JLqzOHMX3OWWxnWOoZACNV2ZBdaPpEUoxlcMrZCpcmZAwzI3h4CBPd76zRkKa0ZC9xCoi6B0VlDqKazl9qtqQnsJDlDjS9UZBajKSoAQ7daAnuk9mfTTFDtmMAnPCWmw3IF7CiEEIwQKwsd9kPTA7Dt<span>
		</div>
		

	</li>
	<li>replace the pageid and access token as per above url and use it with orm system</li><li><img src="<?php echo HTTP_ROOT.'images/step4.png'?>"></li>
</ul>

</div>