<div class="container">
	<div class="row">
		<form action="<?php echo HTTP_ROOT.'public/sendtestemail';?>" method="POST" role="form">
			<legend>Email Testing</legend>
		<div class="form-group">
				<label for="">Subject</label>
				<input type="text" name="subject" class="form-control" id="" value="Testing Email From GaleForce" placeholder="Subject"/>
			</div>
			<div class="form-group">
				<label for="">To</label>
				<input type="text" name="to"  class="required form-control" id="" placeholder="Input email "/>
			</div>
			<div class="form-group">
				<label for="">FROM : Sender Email must me register with <span style="color:green">app.galeforcedigital.com</span>
				
				Note:-if Send email is not valid then send email will be <span style="color:green">orm@app.galeforcedigital.com</span>
				</label>
				<input type="text" name="from" value="orm@app.galeforcedigital.com" class="required form-control" id="" placeholder="orm@app.galeforcedigital.com">
			</div>
			<div class="form-group">
				<label for="">message</label>
				<textarea  class="form-control" name="message"></textarea>
			</div>
			<button type="submit" name="sendemail" value="sendEmail" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>