<div class="container">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			 <h2>Thanks, <?php echo $customeremail ?> has been <?php echo $message;?> successfully. </h2>
		</div>
	</div>
</div>
