<?php 
$controller=$this->params['controller'];
$action=$this->params['action'];
//pr($mmanagers);die;
?>
<!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
      <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
      <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
      <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
      <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
      <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
      <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
      <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper">
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler">
          </div>
          <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

		<?php 
				if(isset($design) && !empty($design['AgencysiteSetting']['sitebackgroundcolor']))
					{
						$barcolor = $design['AgencysiteSetting']['sitebarcolor'];  
				?>

				<!-- BEGIN HEADER -->

					<style>
					.page-sidebar .page-sidebar-menu > li.active > a { background: #<?php print ("$barcolor"); ?>; }
					.page-sidebar .page-sidebar-menu > li.active > a:hover { background: #<?php print ("$barcolor"); ?>; }
					</style>

					  
				<?php } ?>
        <li <?php if(($controller==='dashboard' && $action==='index')||($controller==='dashboard' && $action==='')||($controller==='dashboard' && $action==='searchBusiness')){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT.'dashboard'.$agnId?>">
          <i class="icon-home"></i>
          <span class="title">Dashboard</span>
          <span class="selected"></span>
          <span class="arrow"></span>
          </a>
        </li>
        <li <?php if(($controller==='dashboard' && $action==='admin')){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT.'dashboard/admin'.$agnId?>">
          <i class="icon-wrench"></i>
          <span class="title">Tools</span>
          <span class="arrow "></span>
          </a>
          
        </li>
        <li <?php if(($controller==='agencysiteSettings' && $action==='index')||($controller==='agencysiteSettings' && $action==='')){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT?>agencysiteSettings<?= $agnId?>">
          <i class="icon-settings"></i>
          <span class="title">Site Settings</span>
          <span class="arrow "></span>
          </a>
          
        </li>
        <li <?php if($controller==='dashboard' && $action==='manageUser'){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT.'dashboard/manageUser'.$agnId?>">
          <i class="icon-users"></i>
          <span class="title">Manage Users</span>
          <span class="arrow "></span>
          </a>
        </li>
        <?php if(isset($this->Session->read('Auth.User')['Partner']) && !empty($this->Session->read('Auth.User')['Partner']['id']) && empty($agnId)){ ?>
       <li <?php if($controller==='dashboard' && ($action==='manageAgencies' || $action==='addAgency')){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT.'dashboard/manageAgencies'?>">
        <i class="icon-users"></i>
        <span class="title">Manage Agencies</span>
        <span class="arrow "></span>
        </a>
      </li>
      <?php }?>

      <?php if(count($mmanagers)>0){ ?>
       <li <?php if($controller==='dashboard' && ($action==='agencyManagers')){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT.'dashboard/agencyManagers'?>">
        <i class="icon-users"></i>
        <span class="title">Multilocation Managers</span>
        <span class="arrow "></span>
        </a>
      </li>
      <?php }?>


        <li <?php if(($controller==='businesses' && $action==='report') || ($controller==='businesses' && $action==='customerView')){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT.'businesses/report'.$agnId?>">
          <i class="icon-bar-chart"></i>
          <span class="title">Reporting</span>
          <span class="arrow "></span>
          </a>
          
        </li>
       
        <li <?php if(($controller==='dashboard' && $action==='training')){?>class="active"<?php }?>><a href="<?php echo HTTP_ROOT.'dashboard/training'.$agnId?>">
          <i class="icon-book-open"></i>
          <span class="title">Training</span>
          <span class="arrow "></span>
          </a>
          
        </li>
        
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>
  <!-- END SIDEBAR -->