/* here you can put your own css to customize and override the theme */

.page-sidebar .sidebar-toggler {
margin-bottom: 15px;
}

.portlet > .portlet-title > .caption > i {
color: #fff;
}

.dside .desc, .dside .more {
  color: #fff;
 }

.breakdown-stars {
line-height: 1.6em;
list-style-type: none;
  margin: 0 auto;
  display: block;
  padding: 0;

}

.breakdown-stars img {
  margin-bottom: 10px;
  margin: 0 auto;
  display: block;
  position: relative;
  right: -10px;
}

.breakdown-stars span {
  font-size: 1.5em;
  color: #fff;
  background: rgba(86, 0, 0, 0.44);
  border-radius: .5em !important;
  position: relative;
  left: 15px;
  top: 10px;
  padding: 0 5px;
  border: 1px solid #000;
  z-index: 99;
}

.recent-feedback, .ratings-breakdown, .online-reviews {
background-color: initial !important;
}

.stars-title {
font-size: 1.5em;
text-align: center;
color: #fff;
font-weight: bold;
}

.txt-format {

}

.sidebar-move {
position: relative;
left: 20px;
font-weight: bold;
color: #fff;
}

.star-chart-total {
color: #fff;
font-weight: bold;
text-align: center;
font-size: 1em;
}

.more-chart {
color: #fff;
text-align: center;
font-size: 1em;
  background: rgba(0, 0, 0, 0.23);
  margin-top: 20px;
}

.dside {
position: static !important
}

.dside .desc {
  font-size: 2em !important;
  text-align: center !important;
  margin: 5px;
}

.dside .number {
  text-align: center !important;
  font-size: 2em !important;
  font-weight: 500 !important;
  position: relative;
  top: -5px;
}

.dside .more {
  opacity: 1;
  font-size: 14px;
  margin-right: -15px;
  text-transform: none;
  padding: 5px;
  text-align: center;
 }
 
 .rateavg {
 font-size: 3em !important;
   color: #FFF;
  position: relative;
  left: 10%;
  line-height: 2.5em;
 }

.dashboard-stat .vside {
padding-top: 0 !important;
}

#visBizInfo {
font-size: 1.2em;
}

#visBizInfo td {
line-height: 1;
}

#visBizInfo td:first-child {
font-weight: bold;
}

#visBreakdown {
font-size: 1.5em;
}

#visBreakdown td {
width: 33%;
}

.makebold {
font-weight: bold;
}

.page-header.navbar .page-logo .logo-default {
  margin: 16px 0 8px 0;
}

.page-header.navbar {
height: initial;
}

.page-header.navbar .page-logo {
height: initial;
}

.page-header-fixed .page-container {
margin-top: initial;
}

.sidebar-search input[type=text]::-webkit-input-placeholder { /* WebKit browsers */
    color: #A8A8A8 !important;
}
.sidebar-search input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #A8A8A8 !important;
   opacity:  1;
}
.sidebar-search input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #A8A8A8 !important;
   opacity:  1;
}
.sidebar-search input[type=text]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #A8A8A8 !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
  color: #999999;
  font-size: 14x;
  font-weight: bold;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
  color: #333333;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
background-color: #fff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color: #fff;
}

@media (max-width: 480px) {
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle,.page-header.navbar .top-menu .navbar-nav {
  background-color: #E1E1E1;
}
.page-header.navbar .top-menu {
clear: none;
}

 }
 

.page-sidebar .sidebar-search .input-group {
  border-bottom: 1px solid #A8A8A8;
}

.page-sidebar {
  background-color: #3d3d3d;
}

.page-header.navbar {
  background-color: #E1E1E1;
    border-bottom: 1px solid #777777;
}

.page-sidebar .sidebar-search .input-group .input-group-btn .btn > i {
  color: #A8A8A8;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .remove > i {
  color: #A8A8A8;
}

.dashboard-stat .visual > i {
opacity: 0.5 !important;
  color: #fff;
}

.reforce-red {
background-color: #ed4e2a !important;
}

.reforce-color {
color: #ed4e2a !important;
}

.reforce-red i {
color: #fff !important;
}

.ref-whitetext {
color: #fff !important;
}

.profile-icon {
padding: 0 20px 0 10px !important;
margin-right: 5px !important;
}

.rating-average {
font-size: 2.5em;
text-align: center;
font-weight: 800;
}

.rating-amount {
  text-align: center;
  font-size: 1.2em;
  }
  
 .best-biz ol {
 font-size: 1em;
 font-weight: 400;
   color: #FFF;
 }
 
 .best-heading, .worst-heading {
 font-style: italic;
 font-size: 1.2em;
   color: #FFF;
 }
 
 .form .form-actions {
 background-color: initial;
 }
 
.page-sidebar .sidebar-search .input-group .form-control {
  color: #A8A8A8;
}

.login_center{
text-align:center;
margin-bottom:30px;
}

.email_lab{
margin-left: 10px;
}

#UserLoginForm label {
  color: #ed4e2a;
  font-weight: bold;
  }
  
 .login .content h3 {
 color: #ed4e2a !important;
 }
 
 #UserLoginForm {
 margin: 0 auto;
 display: block;
 }
 
 .error {
 color: red;
 }
 .modal-content{
 background:#f5f5f5;
 }
 
 /* new styles....
 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
  background: #ed4e2a;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
  background: #ed4e2a;
}
 
 */
 
 
 
 /* gray.css styles 

 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar, body {
  background-color: #707b88;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control, .page-sidebar .sidebar-search .input-group .form-control {
  background-color: #707b88;
  color: #949ca7;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group, .page-sidebar .sidebar-search .input-group {
  border-bottom: 1px solid #868f9b;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn > i, .page-sidebar .sidebar-search .input-group .input-group-btn .btn > i {
  color: #868f9b;
}
*/
/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/