<?php
 if(isset($searchText))
 { 
   $searchText = $searchText;
 }else{
  $searchText="";
 } 
 ?>
<script type="text/javascript">
$(document).ready(function(){
    $('#manage-search').validate({
         rules:
            {
               "data[searchForm][search]":
                {
                    required:true,
                }   
            },
         messages:
            {   
               "data[searchForm][search]":
                {
                    required:"This is required field.",
                }    
            },
             messages: {},
             errorElement : 'div',
             errorLabelContainer: '.errorTxt'  
    });
   $('.statuschange').on('click', function(){
       var url=$(this).attr('rel');
       $("#loading").show();
       $.ajax({                   
                url: url,
                type: 'POST',
                 cache: false,
                dataType: 'json',
                success: function (response) {
                  if(response[0]=='success'){
                     var newurl=ajax_url+'admin/updatestatusagency/'+response[1]+'/'+response[2];
                       if(response[2]==0){
                          var newdots=ajax_url+'img/green_dots.png';
                       }else{
                         var newdots=ajax_url+'img/red-dots.png';
                       }
                       $('#change'+response[3]).attr('rel',newurl);
                       $('#imge'+response[3]).attr('src',newdots);
                       $("#loading").hide();
                       $('#bdycontent').html('Status has been updated Successfully.');                  
                       $('#alert').click();
                                     
                  }else if(response[0]=='agency'){
                     $("#loading").hide();
                     $('#bdycontent').html('Please Activate Business Agency First..');                  
                     $('#alert').click();
                   
                  }else{
                     $("#loading").hide();
                     $('#bdycontent').html('!Oops there is something wrong with server.Please try again.');
                     $('#alert').click();
                    
                  }
                  
                  }
            })

    });
    
    });
</script>
<div id="loading" style="display:none">
  <img id="loading-image" src="<?php echo HTTP_ROOT?>img/ajax-loader.gif" alt="Loading..." />
</div>
<style type="text/css">
#loading {
  
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}
.modal-header .close {
    margin-top: -11px;
}
</style>
<?php echo $this->element('nav')?>
<!-- BEGIN CONTENT -->
<?php echo $this->Session->flash(); ?>
<div class="page-content-wrapper">
<div class="page-content">
        <!-- BEGIN PAGE HEADER-->
       <?php echo $this->Session->flash(); ?>  
      <h3 class="page-title">
      <?php echo $design['AgencysiteSetting']['sitetitle']; ?> - Multilocation Managers
      </h3>
      <div class="page-bar">
        <ul class="page-breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="<?php echo HTTP_ROOT?>">Home</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="#">Multilocation Managers</a>
          </li>
        </ul>
        <div class="page-toolbar">
          
        </div>
      </div>
      <!-- END PAGE HEADER-->
        
        <div class="row">
          <div class="col-sm-12">
            <div id="content-wrapper">
              
              <div class="wrapTab">
           
            
             
            <div class="bodyTaab">
            

           
      
      <div class="col-md-10">
        <!-- BEGIN PORTLET-->
          				<?php 
				if(isset($design) && !empty($design['AgencysiteSetting']['sitebackgroundcolor']))
					{
						$barcolor = $design['AgencysiteSetting']['sitebarcolor'];  
				?>

				<!-- BEGIN HEADER -->

					<div class="portlet box" style="background-color:#<?php print ("$barcolor"); ?>">

				<?php } else { ?>
					
					<div class="portlet box reforce-red">
					  
				<?php } ?>
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-user"></i>Multilocation Managers
              </div>
              <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                </a>
                <a href="" class="fullscreen" data-original-title="" title="">
                </a>
                <a href="javascript:;" class="reload" data-original-title="" title="">
                </a>
              </div>
            </div>
            
            <div class="portlet-body grey">
              <div class="table-toolbar">
              
                <div class="row">
                
                  <div class="col-md-7 col-xs-7">
                    <form class="form-inline" id="manage-search" method="post" action="<?php echo HTTP_ROOT.'dashboard/agencyManagers'?>">
                    <div class="input-group">
                    <input type="search" class="form-control input-large input-inline" placeholder="Search Accounts" name="data[searchForm][search]" value="<?= $searchText?>">
                      <span class="input-group-btn">
                        <button type="submit" class="btn blue" type="button">Search</button>
                      </span>
                    </div>
                  </form>
                  </div>
                  <div class="col-md-3 col-xs-3">
                  <a href="<?= HTTP_ROOT.'dashboard/addMultilocation'?>" class="">
                    <div class="btn-group pull-right">
                      <button id="sample_editable_1_new" class="btn green">
                      Add Multilocation Manager <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </a>
                  </div>
                  
                  <div class="col-md-2 col-xs-2">
                    <div class="btn-group pull-right">
                      <button class="btn dropdown-toggle yellow" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                      </button>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="#">
                          Print </a>
                        </li>
                        <li>
                          <a href="#">
                          Export to CSV </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                                
                </div>
              </div>
              
                <div class="row">
                
                  <div class="col-md-12">
                      <div class="table-scrollable">
                        <table class="table table-hover">
                        <thead class="tbleHead">
                          <tr>
                           
                          <th class="bus_name"><?php echo $this->Paginator->sort('User.agencyname','Name'); ?></th>
                          <th class="web_add"><?php echo $this->Paginator->sort('User.lastlogin','Last Login');  ?></th>
                          <th class="regis-date"><?php echo $this->Paginator->sort('User.email','Contact'); ?> </th>
                          <th class="dash-serial"><?php echo $this->Paginator->sort('User.status','Status');  ?></th>
                         <th class="dash-action"><?php echo 'Action'; ?></th>
                          </tr>
                        </thead>
                        <tbody>
                         
                         <?php if(!empty($mmanagers)){ ?>  
                         <?php foreach ($mmanagers as $key => $agency): ?> 
                         <tr>
                               
                                <td><?php echo h($agency['User']['agencyname']); ?>&nbsp;</td>
                                <td><?php echo h($agency['User']['lastlogin']);?>&nbsp;</td>
                                <td><?php echo h($agency['User']['email']); ?>&nbsp;</td>

                                  <?php $target = array(0=>1,1=>0); ?>
                                  <?php if($agency['User']['status'] == 1) {?>
                                  <td> <div style="cursor:pointer" class='statuschange' id="change<?php echo $agency['User']['id']?>" rel="<?php echo HTTP_ROOT.'admin/updatestatusagency/'.base64_encode($agency['User']['id']).'/'.$target[$agency['User']['status']]?>"><img id="imge<?php echo $agency['User']['id']?>" src="<?php echo HTTP_ROOT?>img/green_dots.png" width="25" height="11"></div>&nbsp;</td>
                                  <?php }else{ ?>
                                  <td><div style="cursor:pointer" class='statuschange' id="change<?php echo $agency['User']['id']?>" rel="<?php echo HTTP_ROOT.'admin/updatestatusagency/'.base64_encode($agency['User']['id']).'/'.$target[$agency['User']['status']]?>"><img id="imge<?php echo $agency['User']['id']?>" src="<?php echo HTTP_ROOT?>img/red-dots.png" width="25" height="11"></div>&nbsp;</td>
                                  <?php }?>
                               <td><div class="dropdown drop_act">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Action
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="<?= HTTP_ROOT?>dashboard/editMultilocation/<?= base64_encode($agency['User']['id'])?>">Edit</a></li>
                                  <li role="status"><a target="_blank" role="menuitem" tabindex="-1" href="<?= HTTP_ROOT.'dashboard?agency='.base64_encode($agency['User']['id'])?>">Manage</a></li>
                                </ul>
                              </div>
                              </td>
                          </tr>
                         <?php endforeach; ?>
                         <?php } else {?>
                           <tr><th colspan="7" style="text-align:center !important;"> <?php echo "No record found.";?></th></td></tr>
                         <?php } ?>
                        </tbody>
                        </table>
                        <?php if(!empty($agencies)){ ?>
                         <p>
                               <?php
                                echo $this->Paginator->counter(array(
                                'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
                                ));
                                ?> 
                            </p>
                            <div class="paging">
                               <?php
                                echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
                                echo $this->Paginator->numbers(array('separator' => ''));
                                echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
                                ?>
                            </div>
                        <?php }?>        
                        </div>                
                  </div>  
                                
                </div>
          
          </div>

          <!-- END PORTLET-->
          </div>
            </div>             
          
              </div>
            </div>
          </div>
          <?php echo $this->element('reviewsidebar')?>
        </div>
      </div>
       <div style="display:none" type="button" id="alert" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        </div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     
      </div>
      <div class="modal-body" style="text-align:center;" id="bdycontent">
        
      </div>
      
    </div>
  </div>
</div>
</div>
<style>
div.error {
    background: none repeat scroll 0 0 #f9e5e6;
    border: 1px solid #e8aaad;
    color: #b50007;
}
div.success {
    background: none repeat scroll 0 0 #d3f2c6;
    border: 1px solid #195600;
    color: #195600;
}
.response-msg {
    cursor: pointer;
    font-size: 13px;
    margin: 10px 0;
    padding: 6px 7px 7px 10px;
} 
</style>